* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}
body {
    font-family: Tahoma, sans-serif;
    font-size: 16px;
    line-height: 1.7;
}
.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 1rem;
    background-color: #eff0d1c2;
    color: #262730ff;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
}
.box {
    border-bottom: 1px solid #afafaf;
    margin-bottom: 0.5rem;
    padding: 0px 0.5rem 0.5rem;
}
.box h3 {
    margin-bottom: 0.5rem;
}
.box strong, b, i {
    margin-right: 0.5rem;
}
.box a {
    color: #18206fff;
}
.code pre {
    margin: 0.5rem auto;
    background-color: #fafafa;
    color: #18206fff;
    font-size: 18px;
    box-shadow: inset 1px 1px 5px 5px rgba(0,0,0,0.45);
}
.courses ul, .projects ul {
    padding-left: 1rem;
}
.english a {
    display: inline-block;
    width: 50%;
    padding-left: 1rem;
    transition: transform 0.3s;
}
.english a:hover {
    transform: scale(1.05);
}
.english a > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}